header {
    height: 9vh;
}

.navbar-brand {
    width: 3vw;
}

.gallery > div > img {
    min-height: 100%;
    transition: 0.5s ease;
}
.gallery > div:hover > img {
    scale: 1.3;
    transition: 1s ease;
}
.gallery > div {
    border-radius: 0.5vw;
    transition: 0.5s ease;
}
.gallery > div:hover {
    scale: 1.1;
    transition: 1s ease;
}