header {
    height: 9vh;
}
.navbar-brand {
    width: 3vw;
}
nav > div > div {
    width: 0.1vw;
    height: 2vw;
}
.nav-link {
    font-size: 0.8vw;
}

aside {
    width: 15%;
    height: 91vh;
}
.card-body {
    padding: 1vw;
}
.card-body > * {
    font-size: 0.6vw;
}
.card-title {
    font-size: 1vw;
}

main {
    width: 85%;
    height: 91vh;
    overflow: hidden;
}

.gallery > div > img {
    min-height: 100%;
    transition: 0.5s ease;
}
.gallery > div:hover > img {
    scale: 1.3;
    transition: 1s ease;
}
.gallery > div {
    transition: 0.5s ease;
}
.gallery > div:hover {
    scale: 1.1;
    transition: 1s ease;
}