header {
    height: 9vmin;
}
.nav-brand {
    width: 3vw;
}
.nav-divider {
    width: 0.1vw;
    height: 2vw;
}
.nav-link, .form-label, .submit-btn {
    font-size: 0.8vw;
}

aside {
    width: 15%;
    min-height: calc(100vh - 9vmin);
}
.card-body {
    padding: 1vw;
}
.card-body > * {
    font-size: 0.6vw;
}
.card-title {
    font-size: 1vw;
}

main {
    width: 85%;
    min-height: calc(100vh - 9vmin);
}
.index-section {
    top: 45%;
}
.index-section-logo {
    width: 6vw;
}
.index-section-title, .form-title {
    font-size: 3vw;
    padding: 1vw;
}
.index-section-creator {
    font-size: 1vw;
    padding: 0.75vw;
}
.carousel-indicators, .carousel-control-prev-icon, .carousel-control-next-icon {
    scale: 1.4;
}
.carousel-item {
    transition: transform 2s ease-in-out;
}

form > h1 {
    font-size: 2vw;
}
.form-control, .form-select, .form-check-label {
    font-size: 0.6vw;
}
.form-range {
    margin: 0.5vw;
    width: 18vw;
}
.form-check > .form-check-input {
    width: 1.6vw;
    height: 0.8vw;
}
.submit-btn {
    width: 4.5vw;
    height: 2vw;
}
.form-divider div {
    width: 0.3vw;
    height: 10vw;
}
.form-divider p {
    font-size: 1.5vw;
}

.img-container {
    min-width: 600px;
    scale: 0.9;
    transition: 0.5s ease;
}
.img-container:hover {
    scale: 1.05;
    transition: 1s ease;
}
